.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
  }
  .container_sign {
    font-size: 2.5rem;
  }
  .container_result {
    border: solid 2px blue;
    width: 20rem;
    height: 50px;
    align-items: center;
  }
  
  #container_num1 {
    text-align: center;
    width: 50%;
    padding: 2rem 3rem 3rem 2rem;
  }
  #container_num2 {
    width: 50%;
    text-align: center;
    padding: 2rem 3rem 3rem 2rem;
  }